.header {
    color: #fff;
    background: #000000;

    background-image:url('./images/header_logo.png');
    background-size: 174px 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 5px;
    display: inline-block;
    
    height: 140px;
    content:"";
}

.title a {
    position: relative;
    top: 45px;
}

.header input{
    position: relative;
    top: 45px;
}

// Remove Home icon
.fa-home::before{
    content: "";
}

// Remove plus icon
.fa-plus-square-o:before{
    content: "";
}

// Change caption font color in table of contents
.toctree .caption {
    color: #ffcd00;
}

// Change hyperlink text color to turtlebot green
a {
    color: #60BF56;
}

.markdown-body a {
    color: #60BF56;
}

.addons-wrap .status .branch .name {
    color: #60BF56;
}

